<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlDB"
         connectionString="DATA SOURCE =.\SQLEXPRESS2012;Initial Catalog=ProjectReportDB; User ID=AppUser; Password = Password1"
         providerName="System.Data.SqlClient" />   
  </connectionStrings>
</configuration>